.blog {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    > div {
        width: 50%;
        padding: 30px;

        

        .readMore {
            font-size: 14px;
            font-weight: 400;
            line-height: 1.5;
            color: #0029FF;
        }
    }
}

.blogView {
    margin: 50px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 100px;
    
    > div {
        display: flex;
        align-items: center;
        gap: 30px;

        >img {
            width: auto;
            height: auto;
        }


    }
}

.nav {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;

    > a {
        font-size: 18px;
        font-weight: 700;
        color: #000;
        text-decoration: none;
        
        &.active {
            color: #0029FF;
        }
    }


}

.blogNew {
    position: relative;
}

.misc {
    position: absolute;
    display: flex;
    
    max-width: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 0 30px;
    justify-content: space-between;
}

.miscView {
    position: absolute;
    display: flex;
    
    max-width: 100%;
    width: 100%;
    bottom: -30px;
    left: 0;
    justify-content: space-between;
}

.title {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: #0029FF;
    margin-bottom: 25px;
    text-decoration: none;
}

.description {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    line-height: 1.5;
    margin-bottom: 20px;
}

.date {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #DCDCDC;
}

.source {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #DCDCDC;
    text-decoration: underline;
}


@media (max-width: 1050px) {
    .blog {

        >div {
            width: 100%;
        }
    }

    .blogView {
        flex-direction: column;
        > div {
            flex-direction: column;
        }
    }
}